<nb-card [formGroup]="addCategoryFormGroup">
    <nb-card-header>
        Add A New Category
    </nb-card-header>
    <nb-card-body>
        <input type="text" nbInput fullWidth placeholder="Category Name" formControlName="name">
        <div class="alert alert-danger mt-0 mb-3"
            *ngIf="addCategoryFormGroup.get('name').invalid && (addCategoryFormGroup.get('name').dirty || addCategoryFormGroup.get('name').touched)">
            <div *ngIf="addCategoryFormGroup.get('name').errors['required']">
                Category Name is required
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="d-flex justify-content-between">
            <button nbButton status="success" (click)="createCategory()">Create</button>
        </div>
    </nb-card-footer>
</nb-card>