<nb-card [formGroup]="editCategoryFormGroup">
    <nb-card-header>
        Edit Category Id: {{editCategoryFormGroup.get('id').value}}
    </nb-card-header>
    <nb-card-body>
        <input type="text" nbInput fullWidth placeholder="Category Name" formControlName="name" class="mb-1">
        <div class="alert alert-danger mt-0 mb-3"
            *ngIf="editCategoryFormGroup.get('name').invalid && (editCategoryFormGroup.get('name').dirty || editCategoryFormGroup.get('name').touched)">
            <div *ngIf="editCategoryFormGroup.get('name').errors['requried']">
                Category Name is required
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="d-flex justify-content-between">
            <button nbButton status="success" (click)="editCategory()">SAVE</button>
        </div>
    </nb-card-footer>
</nb-card>